Repository DASPRiD/jsonapi-serde-js: changes, and which Codecov flags are due for each by the changed paths.
All: Server, OpenAPI, Integration: Koa, Client

ci: properly test if any package was released
  .github/workflows/release-please.yml
  .github/workflows/test.yml
  codecov.yml
  packages/client/README.md
  packages/integration/koa/README.md
  packages/openapi/README.md
  packages/server/README.md
Due: Server, OpenAPI, Integration: Koa, Client

docs: update changelog links in primary README
  README.md
Due: none

fix(server): improve type strictness on query parser options
  packages/openapi/src/query.ts
  packages/server/package.json
  packages/server/src/request/query.ts
  packages/server/test/request/query.test.ts
  pnpm-lock.yaml
Due: Server, OpenAPI

docs(server): add note about query parser type inference
  packages/docs/src/server/parsing-query-parameters.md
Due: none

chore(server): remove development type tests
  packages/server/src/request/query.ts
Due: Server

chore: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: optimize github workflows
  .github/workflows/conventional-pr-title.yml
  .github/workflows/docs.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
Due: none

chore(docs): update vitepress to 2.0.0-alpha.5
  packages/docs/package.json
  pnpm-lock.yaml
Due: none

ci: add explicit permissions to docs and test workflows
  .github/workflows/docs.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
Due: none

fix(server): prevent prototype polution in search params parser
  packages/server/src/http/search-params.ts
  packages/server/test/http/search-params.test.ts
Due: Server

fix: include source maps in all packages
  packages/client/tsconfig.json
  packages/integration/koa/tsconfig.json
  packages/openapi/tsconfig.json
  packages/server/tsconfig.json
Due: Server, OpenAPI, Integration: Koa, Client

chore: bump dependencies
  package.json
  packages/client/package.json
  packages/docs/package.json
  packages/integration/koa/package.json
  packages/openapi/package.json
  packages/server/package.json
  pnpm-lock.yaml
Due: Server, OpenAPI, Integration: Koa, Client

fix(server): cast relationship schema to unknown to avoid inference issue
  packages/server/src/request/body.ts
Due: Server

fix(integration-koa): export missing request.js
  packages/integration/koa/src/index.ts
Due: Integration: Koa

fix(integration-koa): generalize context in sendJsonApiResponse to allow for any context
  packages/integration/koa/src/response.ts
Due: Integration: Koa

docs(server): add note about relationship serialization type checking
  packages/docs/src/server/serialization.md
Due: none

fix(openapi): fix export paths
  packages/openapi/package.json
Due: OpenAPI

fix(openapi): fix main export path
  packages/openapi/package.json
Due: OpenAPI

feat(openapi): allow defining id schema for relationships
  packages/openapi/src/response.ts
  packages/openapi/test/response.test.ts
Due: OpenAPI

fix(openapi): set toJSONSchema 'io' option to 'input'
  packages/openapi/src/body.ts
  packages/openapi/src/query.ts
Due: OpenAPI

fix(server): call toString() method instead of referencing it
  packages/server/src/common/error.ts
Due: Server

fix(integration-koa): write content type header after setting body in middlewares
  packages/integration/koa/src/middleware.ts
Due: Integration: Koa

feat: add support for zod v4 stable
  biome.json
  package.json
  packages/client/package.json
  packages/client/src/deserializer/implementation.ts
  packages/client/src/index.ts
  packages/client/test/error-handler.test.ts
  packages/client/test/pagination.test.ts
  packages/docs/.vitepress/theme/index.ts
  packages/docs/package.json
  packages/integration/koa/package.json
  packages/integration/koa/src/middleware.ts
  packages/openapi/package.json
  packages/openapi/src/body.ts
  packages/openapi/test/response.test.ts
  packages/server/package.json
  packages/server/src/common/error.ts
  packages/server/src/http/search-params.ts
  packages/server/src/request/body.ts
  packages/server/src/request/query.ts
  packages/server/src/response/internal.ts
  packages/server/test/http/accept.test.ts
  packages/server/test/request/query.test.ts
  packages/server/test/response/internal.test.ts
  pnpm-lock.yaml
Due: Server, OpenAPI, Integration: Koa, Client

feat: add taxum integration
  codecov.yml
  package.json
  packages/docs/src/server/integration/koa.md
  packages/docs/src/server/integration/taxum.md
  packages/integration/taxum/README.md
  packages/integration/taxum/package.json
  packages/integration/taxum/src/augment.ts
  packages/integration/taxum/src/error-handler.ts
  packages/integration/taxum/src/extract.ts
  packages/integration/taxum/src/index.ts
  packages/integration/taxum/src/layer.ts
  packages/integration/taxum/src/router.ts
  packages/integration/taxum/test/augment.test.ts
  packages/integration/taxum/test/error-handler.test.ts
  packages/integration/taxum/test/extract.test.ts
  packages/integration/taxum/test/layer.test.ts
  packages/integration/taxum/test/router.test.ts
  packages/integration/taxum/tsconfig.build.json
  packages/integration/taxum/tsconfig.json
  packages/server/src/common/response.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release-please-config.json
Due: Server

test(server): verify that getMediaTypeOptions return original options
  packages/server/test/common/response.test.ts
Due: Server

docs: add taxum section to online docs
  packages/docs/.vitepress/config.mts
  packages/docs/src/introduction.md
Due: none

fix(integration-taxum): re-export augmented objects
  packages/integration/taxum/package.json
  packages/integration/taxum/src/augment.ts
Due: none

chore(integration-taxum): update lock file
  packages/integration/taxum/package.json
  pnpm-lock.yaml
Due: none

feat(integration-taxum): update to latest taxum version
  package.json
  packages/client/package.json
  packages/docs/package.json
  packages/integration/taxum/package.json
  packages/integration/taxum/src/extract.ts
  packages/integration/taxum/src/layer.ts
  packages/integration/taxum/test/augment.test.ts
  packages/integration/taxum/test/error-handler.test.ts
  packages/integration/taxum/test/router.test.ts
  packages/openapi/package.json
  packages/server/package.json
  pnpm-lock.yaml
Due: Server, OpenAPI, Client

feat(integration-taxum): update to taxum 1.0.0
  package.json
  packages/integration/taxum/package.json
  pnpm-lock.yaml
Due: none

feat(server): allow relationships to be optional
  .github/workflows/release-please.yml
  packages/server/src/request/body.ts
Due: Server

ci: update npm to latest version before publishing
  .github/workflows/release-please.yml
Due: none

ci: add registry url before publishing
  .github/workflows/release-please.yml
Due: none

ci: update repository URLs to match case of owner
  .npmrc
  package.json
  packages/client/package.json
  packages/integration/koa/package.json
  packages/integration/taxum/package.json
  packages/openapi/package.json
  packages/server/package.json
  pnpm-workspace.yaml
Due: Server, OpenAPI, Integration: Koa, Client

fix(client): bump dependencies
  package.json
  packages/client/package.json
  pnpm-lock.yaml
Due: Client

feat: add support for meta data in resource request
  packages/integration/taxum/src/extract.ts
  packages/openapi/src/body.ts
  packages/server/src/request/body.ts
Due: Server, OpenAPI

docs: add information about Taxum
  README.md
  packages/docs/src/server/serialization.md
Due: none

fix(openapi): use openapi-3.0 zod serilization
  packages/openapi/src/body.ts
  packages/openapi/src/query.ts
  packages/openapi/test/body.test.ts
Due: OpenAPI

chore(integration-koa): ignore test utility coverage
  packages/integration/koa/test/util.ts
Due: Integration: Koa

Path conditions:
  Server: any of: packages/server/**
  OpenAPI: any of: packages/openapi/**
  Integration: Koa: any of: packages/integration/koa/**
  Client: any of: packages/client/**
