Repository DASPRiD/jsonapi-serde-js: changes, and which Codecov flags are due for each by the changed paths.
All: Server, OpenAPI, Integration: Koa, Client

test(server): add test for resource meta parsing
  packages/server/test/request/body.test.ts
Due: Server

fix(server): allow attribute and meta schema in request body to be absent
  packages/server/src/request/body.ts
Due: Server

fix(client): allow meta schemas to be undefined
  packages/client/src/deserializer/types.ts
Due: Client

feat(server): add AnyParseResourceRequestOptions type
  packages/server/src/request/body.ts
Due: Server

fix(openapi): export BuildDataResponseObjectOptions
  packages/openapi/src/body.ts
  packages/openapi/src/response.ts
Due: OpenAPI

feat: add TCustomSchema support to createQueryParser for custom top-level query params (#48)
  packages/integration/taxum/src/extract.ts
  packages/openapi/src/query.ts
  packages/openapi/test/query.test.ts
  packages/server/src/request/query.ts
  packages/server/test/request/query.test.ts
Due: Server, OpenAPI

feat(server): add AnyParseQueryOptions
  packages/server/src/request/query.ts
Due: Server

feat(server): preserve custom identifier ID and expose type meta in fixedTypeSchema
  packages/openapi/package.json
  packages/openapi/test/body.test.ts
  packages/server/src/request/body.ts
Due: Server, OpenAPI

fix(server): accept missing optional fields under zod >=4.4
  packages/client/package.json
  packages/integration/taxum/package.json
  packages/openapi/package.json
  packages/server/package.json
  packages/server/src/request/body.ts
  packages/server/src/request/query.ts
  pnpm-lock.yaml
Due: Server, OpenAPI, Client

ci: upgrade runner to Node 24 and drop npm-latest install
  .github/workflows/release-please.yml
  .github/workflows/test.yml
Due: none

chore: upgrade dependencies, workflow actions, and TypeScript to 6
  .github/workflows/conventional-pr-title.yml
  .github/workflows/docs.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
  package.json
  packages/client/package.json
  packages/client/tsconfig.json
  packages/docs/.vitepress/env.d.ts
  packages/docs/package.json
  packages/docs/tsconfig.json
  packages/integration/koa/package.json
  packages/integration/koa/tsconfig.json
  packages/integration/taxum/package.json
  packages/integration/taxum/tsconfig.json
  packages/openapi/tsconfig.json
  packages/server/package.json
  packages/server/src/response/serializer.ts
  packages/server/tsconfig.json
  pnpm-lock.yaml
Due: Server, OpenAPI, Integration: Koa, Client

fix(openapi): name the sort parameter "sort" instead of "include"
  packages/openapi/src/query.ts
  packages/openapi/test/query.test.ts
Due: OpenAPI

refactor(openapi): extract buildSchemaParameter helper
  packages/docs/.vitepress/theme/style.css
  packages/openapi/src/query.ts
Due: OpenAPI

ci: switch app token auth from app-id to client-id
  .github/workflows/release-please.yml
Due: none

build: set explicit rootDir in each tsconfig.build.json
  packages/client/tsconfig.build.json
  packages/integration/koa/tsconfig.build.json
  packages/integration/taxum/tsconfig.build.json
  packages/openapi/tsconfig.build.json
  packages/server/tsconfig.build.json
Due: Server, OpenAPI, Integration: Koa, Client

build: upgrade pnpm 10.18 to 11.0.5
  package.json
  pnpm-workspace.yaml
Due: none

build: drop unused root build script
  package.json
Due: none

feat(server): allow undefined members in RelationshipsSchema
  packages/server/src/request/body.ts
Due: Server

fix(server): report MediaTypeParserError under its own name
  packages/server/src/http/media-type-parser.ts
Due: Server

fix(client): report JsonApiError under its own name
  packages/client/src/error-handler.ts
  packages/client/test/error-handler.test.ts
Due: Client

fix(server): keep the serializer context type through SerializeBuilder.add
  packages/server/src/response/serializer.ts
  packages/server/test/response/serializer.test.ts
Due: Server

docs(server): key the serializer context example by its registered type
  packages/docs/src/server/serialization.md
Due: none

feat(client): let a relationship be declared optional
  packages/client/src/deserializer/implementation.ts
  packages/client/src/deserializer/types.ts
  packages/client/test/deserializer/implementation.test.ts
  packages/client/test/deserializer/types.test.ts
Due: Client

docs: cover optional relationships on both packages
  packages/docs/src/client/handling-relationships.md
  packages/docs/src/server/openapi/data-responses.md
Due: none

feat(openapi): let a relationship be declared optional
  packages/openapi/src/response.ts
  packages/openapi/test/response.test.ts
Due: OpenAPI

fix(openapi): bound the errors array with minItems
  packages/openapi/src/response.ts
  packages/openapi/test/response.test.ts
Due: OpenAPI

chore(deps): re-resolve the lockfile
  pnpm-lock.yaml
Due: none

fix(openapi): treat a defaulted query schema as optional
  packages/client/package.json
  packages/integration/taxum/package.json
  packages/openapi/package.json
  packages/openapi/src/query.ts
  packages/openapi/test/query.test.ts
  packages/server/package.json
  pnpm-lock.yaml
Due: Server, OpenAPI, Client

fix(openapi): emit OpenAPI 3.1 schemas instead of 3.0 ones
  packages/docs/src/server/openapi/data-responses.md
  packages/openapi/src/body.ts
  packages/openapi/src/json-schema.ts
  packages/openapi/src/query.ts
  packages/openapi/src/response.ts
  packages/openapi/test/body.test.ts
  packages/openapi/test/query.test.ts
  packages/openapi/test/response.test.ts
Due: OpenAPI

fix(openapi): emit OpenAPI 3.1 schemas instead of 3.0 ones (#63)
  packages/docs/src/server/openapi/data-responses.md
  packages/openapi/src/body.ts
  packages/openapi/src/json-schema.ts
  packages/openapi/src/query.ts
  packages/openapi/src/response.ts
  packages/openapi/test/body.test.ts
  packages/openapi/test/query.test.ts
  packages/openapi/test/response.test.ts
Due: OpenAPI

Path conditions:
  Server: any of: packages/server/**
  OpenAPI: any of: packages/openapi/**
  Integration: Koa: any of: packages/integration/koa/**
  Client: any of: packages/client/**
